{% extends 'homepage2.html' %}
{% block title %}Work Zone{% endblock %}

<h2></h2>
{% block content %}
    <h2 style="text-align: center;color: white;font-family: 'Open Sans', sans-serif;color: white;font-size: 24px;">Create Flux</h2>

    {% if templates %}
        <form action="/docflow/createFlux" method="get">
            <label style="width: 135px;display: inline-block;color: white;font-size: 18px">Flux Name:</label>
            <input type="text" name="fluxName" style="width: 150px;height: 25px;margin-bottom: 10px;font-size: 16px;margin-bottom: 10px;"/>
            <br>


            <label style="width: 135px;display: inline-block;color: white;font-size: 18px;margin-bottom: 10px;">Templates</label>
            <br>

            {% for template in templates %}

                <input type="checkbox" name="templates[]"  value={{template}} />
                <div style="width: 135px;display: inline-block;color: white;font-size: 18px;">{{template}}</div>
                <br>

            {% endfor %}
            <br>
            <button type="submit" style="font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;margin-right: 15px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;" >Submit</button>
        </form>
    {% else %}

            {% if groups %}
                    <p style="width: 205px;display: inline-block;color: white;font-size: 18px">New Assignment: {{current_step}} </p>
                    <form action="/docflow/createFlux" method="get">
                        <p style="width: 105px;display: inline-block;color: white;font-size: 18px">Deadline: </p>
                        <input type="text" name="days" value="0" style="width: 150px;height: 25px;margin-bottom: 10px;font-size: 16px;margin-bottom: 10px;" />
                        <br>
                        <input type="hidden" name="current_step" value={{current_step}}  />
                        <input type="hidden" name="flux_id" value={{flux_id}} />
                        <p style="width: 115px;display: inline-block;color: white;font-size: 18px">Select group: </p>

                        <select name="group" style="font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;margin-right: 15px;padding: 5px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">

                        {% for group in groups %}

                            <option name="group" value={{group.id}}>{{group.name}}</option>

                        {% endfor %}
                        </select>
                        <button type="submit" name="get_user" value="get_user" style="margin-top: 3px;margin-bottom: 3px;font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;margin-right: 15px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;" >Or get users</button>
                        <br>
                        <button type="submit" name="gcontinue" value="gcontinue" style="margin-top: 3px;margin-bottom: 3px;font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;float: left;margin-right: 15px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">Create new assignment</button>
                        <button type="submit" name="gdone" value="gdone" style="margin-top: 3px;margin-bottom: 3px;font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;float: left;margin-right: 15px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">Done</button>
                    </form>
            {% else %}
                {% if users %}
                    <form action="/docflow/createFlux" method="get">
                        <input type="hidden"  name="current_step" value={{current_step}} />
                        <input type="hidden" name="flux_id" value={{flux_id}} />
                        <p style="width: 105px;display: inline-block;color: white;font-size: 18px">Deadline: </p><input type="text" name="days" value="0"/><br>
                        <p style="width: 105px;display: inline-block;color: white;font-size: 18px">Select user: </p>
                        <select name="user" style="font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;margin-right: 15px;padding: 5px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
                            {% for user in users %}

                                <option name="user" value={{user}}>{{user}}</option>

                            {% endfor %}
                        </select><br>
                            <button type="submit" name="ucontinue" value="ucontinue" style="margin-top: 3px;margin-bottom: 3px;font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;float: left;margin-right: 15px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">Create new assignment</button>
                            <button type="submit" name="udone" value="udone" style="margin-top: 3px;margin-bottom: 3px;font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;float: left;margin-right: 15px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">Done</button>
                    </form>
                {% else %}
                    <h2 style="text-align: center;color: white;font-family: 'Open Sans', sans-serif;color: white;font-size: 24px;">No Templates</h2>

                {% endif %}


            {% endif %}
    {% endif %}






{% endblock %}