<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload New Version</title>
</head>
<body>

{% extends 'homepage2.html' %}

{% block content %}
    <h2 style="text-align: center;color: white;margin-top: -10px;font-family: 'Open Sans', sans-serif;color: white;font-size: 24px;">Upload New Version</h2>

    <br><br>
    <form action="docFlow/uuuuuuuuu" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p style="width: 85px;display: inline-block;color: white;font-size: 18px">
            Comments:
        <textarea name="Text1" cols="40" rows="5" style="margin-bottom: -20px;"></textarea>        </p>
        <p>
        <input type="file" name="datafile" size="40" >
        </p>
        <div>
        <input type="submit" value="Upload" style="font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;float: left;margin-right: 5px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
        </div>
    </form>


{% endblock %}


</body>
</html>

