{% extends 'homepage2.html' %}
{% block title %}Finished Tasks Zone{% endblock %}

{% block content %}
    <h2 style="text-align: center;color: white;font-family: 'Open Sans', sans-serif;color: white;font-size: 24px;">Finished Tasks Zone</h2>
    <table style="width:100%;table-layout: fixed;border-collapse: collapse;">
        <tr style="">
            <th style="border: 1px solid black;font-family: 'Open Sans', sans-serif;color: white;font-size: 20px;border: 1px solid #ccc;background-color: #619fda;">Document Name</th>
            <th style="border: 1px solid black;font-family: 'Open Sans', sans-serif;color: white;font-size: 20px;border: 1px solid #ccc;background-color: #619fda;">Version</th>
            <th style="border: 1px solid black;font-family: 'Open Sans', sans-serif;color: white;font-size: 20px;border: 1px solid #ccc;background-color: #619fda;">Owner</th>
            <th style="border: 1px solid black;font-family: 'Open Sans', sans-serif;color: white;font-size: 20px;border: 1px solid #ccc;background-color: #619fda;">Process Name</th>
            <th style="border: 1px solid black;font-family: 'Open Sans', sans-serif;color: white;font-size: 20px;border: 1px solid #ccc;background-color: #619fda;">Process Status</th>
            <th style="border: 1px solid black;font-family: 'Open Sans', sans-serif;color: white;font-size: 20px;border: 1px solid #ccc;background-color: #619fda;">Options</th>
         </tr>
    </table>

  {% for doc in docs %}

    <table style="width:100%;table-layout: fixed;border-collapse: collapse;color:white;">

        <tr>
            <td style="border: 1px solid black;">{{ doc.name }}</td>
            <td style="border: 1px solid black;text-align: center;">{{ doc.version }}</td>
            <td style="border: 1px solid black;text-align: center;">{{ doc.owner }} </td>
            <td style="border: 1px solid black;text-align: center;">{{doc.task.process.flux.name }}</td>
            <td style="border: 1px solid black;text-align: center;">{{ doc.task.process.status }} </td>
            <td style="border: 1px solid black;padding: 10px;" align="center">
                {#download button#}
                    <form action="/docflow/pdf_view" method="get">
                        <input type="hidden" name="document_id" value={{ doc.id}}>
                        <input type="hidden" name="doc_name" value={{ doc.name }}>
                        <button type="submit" style="font-family: 'Open Sans', sans-serif;color: white;font-size: 18px;margin-right: 15px;border: 1px solid #ccc;background-color: #619fda;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">View Document</button>
                    </form>


            </td>
          </tr>
        </table>
      <br>

  {% endfor %}
{% endblock %}


