{% extends 'homepage2.html' %}
{% block title %}Work Zone{% endblock %}

<h2></h2>
{% block content %}

  {% for doc in docs %}
    <br>
    {{doc.name}} {{doc.version}}
        {% if doc.status == "DRAFT" %}
            <form action="/docflow/change_document_status_to_final/" method="get">
                <input type="hidden" name="path" value={{ doc.path }}>
                <button>Make final</button>
            </form>
            <button class = "delete" data-path={{ doc.path }} value={{ doc.path }} onClick='deleteDraft("{{ doc.path }}")'>Delete</button>
        {% endif %}
        {% if doc.status == "FINAL" %}
            <form action="/docflow/change_document_status_to_draft/" method="get">
                <input type="hidden" name="path" value={{ doc.path }}>
                <button>Make draft</button>
            </form>
        {% endif %}
        <form action="/docflow/download" method="get">
            <input type="hidden" name="path" value={{ doc.path }}>
            <input type="hidden" name="doc_name" value={{ doc.name }}>
            <button type="submit">Download</button>
        </form>

  {% endfor %}
{% endblock %}


