{% extends 'homepage2.html' %}
{% block title %}Work Zone{% endblock %}

<h2></h2>
{% block content %}

  {% for doc in docs %}
    <h2>{{doc.name}} {{doc.version}}</h2>
        {% if doc.status == "DRAFT" %} <br>
            <button class = "makeFinal" data-path={{ doc.path }} value={{ doc.path }} onClick='makeDocumentStatusFinal("{{ doc.path }}")'>Make final</button><br>
            <button class = "delete" data-path={{ doc.path }} value={{ doc.path }} onClick='deleteDraft("{{ doc.path }}")'>Delete</button><br>
        {% endif %}
        {% if doc.status == "FINAL" %}
            <button class = "makeDraft" data-path={{ doc.path }} value={{ doc.path }} onClick='makeDocumentStatusDraft("{{ doc.path }}")'>Make draft</button><br>
        {% endif %}

        <button class = "download" data-path={{ doc.path }} value={{ doc.path }} onClick='downloadFile("{{ doc.path }}")'>Download</button><br>

  {% endfor %}
{% endblock %}


